<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/chess.css" />
    <title>Checkers</title>
    <script type="module" src="/socket.io/socket.io.js"></script>
    <script src="./js/gameStartup.js" type="module"></script>
    <script
      src="https://kit.fontawesome.com/149d5df8b5.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="UI-area">
      <div class="game"></div>
      <aside class="side-info">
        <section class="game-info">
          <div class="current-turn">
            <h4>Current Turn</h4>
            <span class="turn">White</span>
          </div>
          <div class="in-check">
            <h4>Check</h4>
            <span class="check">false</span>
          </div>
          <div class="game-over">
            <h4>Game Over?</h4>
            <span class="checkmate">false</span>
          </div>
          <button class="restart" type="button">Restart Game</button>
        </section>
      </aside>
    </div>
  </body>
</html>
