<%- include("../partials/head") %>
  <div class="UI-area">
    <div class="game"></div>
    <aside class="side-info">
      <section class="game-info">
        <div class="current-turn">
          <h4>Current Turn</h4>
          <span class="turn">White</span>
        </div>
        <div class="in-check">
          <h4>Check</h4>
          <span class="check">false</span>
        </div>
        <div class="game-over">
          <h4>Game Over?</h4>
          <span class="checkmate">false</span>
        </div>
        <% if (!locals.id && !locals.online) { %>
          <button class="restart" type="button">Restart Game</button>
        <% } %>
        <a href="/" class="main-menu-btn">Main Menu</a>
      </section>
    </aside>
  </div>
<%- include("../partials/footer") %>