<%- include("../partials/head") %>
  <table>
    <thead>
      <tr>
        <th>Room Name</th>
        <th>Players</th>
        <th>Join</th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>

  </table>

  <div>
    <h2><a href="/newroom">Create a Room</a></h2>
  </div>

  <h2>Play against the AI</h2>
  <div class="difficulty-select">
    <a href="/singleplayer/easy">Easy</a>
    <a href="/singleplayer/medium">Medium</a>
    <a href="/singleplayer/hard">Hard</a>
  </div>
  <div class="local-play">
    <h2>Play Sandbox</h2>
    <p>Play a game with no AI. You'll control both teams.</p>
    <p>Good for practice or for playing with a friend on one computer</p>
    <a href="/LAN">Sandbox</a>
  </div>
  
  

  <%- include("../partials/footer") %>